.centre-wrapper {
  display: flex;
  gap: 30px;
  padding: 40px;
  background: #f2f2f2;
}
.centre-wrapper {
  display: flex;
  gap: 30px;
  padding: 20px;
  background: #f2f2f2;
}

/* MOBILE STACK */
@media (max-width: 768px) {
  .centre-wrapper {
    flex-direction: column;
  }
}
