.notice-bar {
  background: lightgray;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  padding: 6px 0;
}

.notice-track {
  display: inline-block;
  animation: scroll-left 25s linear infinite;
}

.notice-item {
  margin-right: 50px;
  color: black;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
}

.notice-item:hover {
  text-decoration: none;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.notice-bar:hover .notice-track {
  animation-play-state: paused;
}
