.page-banner {
  background: #2f2f2f;
  padding: 30px 0;
}

.page-banner-inner {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.page-banner h1 {
  color: #fff;
  font-size: 26px;
  margin-bottom: 6px;
}

.page-banner p {
  color: #cfcfcf;
  font-size: 14px;
}
@media (max-width: 768px) {
  .page-banner h1 {
    font-size: 20px;
  }

  .page-banner p {
    font-size: 12px;
  }
}
